<%# Unit 4, Assignment %>

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <%- messages() %>
  
  <% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
  <%  }) %>
  </ul>
  <% } %>

  <form action"/inv/add-inventory" method="post">
    <label for="invMake">Make:</label><br>
    <input type="text" id="inv_make" name="inv_make" required value="<%= locals.inv_make %>"><br>
    <label for="invModel">Model:</label><br>
    <input type="text" id="invModel" name="inv_model" required value="<%= locals.inv_model %>"><br>
    <label for="invYear">Year:</label><br>
    <input type="number" id="invYear" name="inv_year" required min="1900" max="2024" step="1" value="<%= locals.inv_year %>"><br>
    <label for="invDescription">Description:</label><br>
    <input type="text" id="invDescription" name="inv_description" required value="<%= locals.inv_description %>"><br>
    <input type="text" id="invImage" name="inv_image" hidden value="/images/vehicles/no-image.png">
    <input type="text" id="invThumbnail" name="inv_thumbnail" hidden value="/images/vehicles/no-image-tn.png">
    <label for="invPrice">Price:</label><br>
    <input type="number" id="invPrice" name="inv_price" required value="<%= locals.inv_price %>"><br>
    <label for="invMiles">Miles:</label><br>
    <input type="number" id="invMiles" name="inv_miles" required value="<%= locals.inv_miles %>"><br>
    <label for="invColor">Color:</label><br>
    <input type="text" id="invColor" name="inv_color" required value="<%= locals.inv_color %>"><br>
    <label for="invClassification">Classification:</label><br>
    <%- selectList %><br>
    <input id="submit" type="submit" value="Add">
  </form>